Django==6.0.3
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
channels==4.3.2
asgiref==3.11.1
python-dotenv==1.2.2
psycopg2-binary==2.9.11
django-unfold==0.87.0
django-filter==25.2
dj-database-url==3.1.2
coverage==7.8.0
